/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asterlight Font (tu veux qu'il te fasse quoi le minotaure ?) */
@font-face {
    font-family: "Asterlight";
    src: url("assets/Asterlight-Regular.ttf");
}

body {
    font-family: "Asterlight", sans-serif;
}

/* Parallax infinie */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    pointer-events: none;

    background-image: url("assets/background.png");
    background-repeat: repeat;
    background-size: 100%;

    /* on déplace le fond, pas le calque */
    background-position-y: calc(var(--scroll) * 0.4);
}




/* HEADER */
header {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding-top: 0;
}

/* Nuage (2/3 largeur) */
.header-cloud {
    width: 66%;
    display: block;
    margin: 0px auto;
    pointer-events: none;
    display: block;
}

/* NAVIGATION */
.header-nav {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 66%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav a {
    color: #3e2f7a;
    font-family: "Asterlight", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    transition: opacity 0.2s;
}

.header-nav a:hover {
    opacity: 0.7;
}

.nav-logo {
    height: 60px;
}

/* HERO SECTION */
.hero {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.hero-illustration {
    position: relative;
    display: inline-block;
    transform: translateY(-20%);
    z-index: -10;
}

.hero-illu {
    width: 1300px; /* ajustable selon ton art */
    display: block;
}

.hero-logo {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 0%; /* taille du logo superposé */
    transform: translateY(-10%);
}
